.root {
  flexgrow: 1;
}
.paper {
  padding: 10px 20px;
  text-align: center;
}
.cal_screen {
  box-shadow: none !important;
  height: 40px;
  border: 1px solid #666;
}
.cal_container {
  border: 1px solid #666;
}
.num_btn {
  width: 100%;
  background: #666;
  background-color: rgba(0, 0, 0, 0.04);
}
